<html>
    <head>
        <title>
        Machine Learning
        </title>
       <body>
           <h1>Find the weight of the brain</h1>
           <p>
               Enter the size of the brain
           </p>
           <form action="/sub"  method = "POST">
                <input type="number" name="size" placeholder="Size of brian">
                <input type="submit">
        </form>
        
            
            <p>Your Predicted weight is : </p> {{weight}}
            
       </body> 
    </head>
</html>